<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#group-modal-{{ group.id }}">
    Users
</button>

<!-- Modal -->
<div class="modal fade modal-xl" id="group-modal-{{ group.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Groups</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="card card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Display name</th>
                            <th scope="col">Mail</th>
                            <th scope="col">User principal name</th>
                            <th scope="col">Business phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if group.members %}
                            {% for user in group.members %}
                                <tr>
                                    <td>{{ user.displayName ?? '-' }}</td>
                                    <td>{{ user.mail ?? '-' }}</td>
                                    <td>{{ user.userPrincipalName ?? '-' }}</td>
                                    <td>{{ user.businessPhones[0] ?? '-' }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div>
</div>